<ul class="list-inline text-center footer-links">

{%- if site.social-network-links.rss -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.email -%}
  <li class="list-inline-item">
    <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.calendly -%}
  <li class="list-inline-item">
    <a href="https://calendly.com/{{ site.social-network-links.calendly }}" title="Schedule a meeting with me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Schedule a meeting with me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.github -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitter -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitter</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.reddit -%}
  <li class="list-inline-item">
    <a href="https://reddit.com/u/{{ site.social-network-links.reddit }}" title="Reddit">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Reddit</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.linkedin -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.xing -%}
  <li class="list-inline-item">
    <a href="https://www.xing.com/profile/{{ site.social-network-links.xing }}" title="Xing">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Xing</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.stackoverflow -%}
  <li class="list-inline-item">
    <a href="https://stackoverflow.com/users/{{ site.social-network-links.stackoverflow }}" title="StackOverflow">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">StackOverflow</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.loop -%}
  <li class="list-inline-item">
    <a href="https://loop.frontiersin.org/people/649624/overview" title="Loop">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="far fa-circle fa-stack-1x fa-inverse"></i>
        </span>
      <span class="sr-only">Loop</span>
    </a>
  </li>
{%- endif -%}
  
{%- if site.social-network-links.google_scholar -%}
  <li class="list-inline-item">
    <a href="https://scholar.google.com/citations?user=-5BC9nwAAAAJ&hl=de" title="Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
         <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
        </span>
      <span class="sr-only">Scholar</span>
    </a>
  </li>
{%- endif -%}
  

</ul>
